@import "normalize";
@import "susy";
@import "breakpoint";
@import "compass";

$susy: (
  columns: 16,
  // debug: (image: show),
  global-box-sizing: border-sizing
);

@include border-box-sizing;

$medium-screen: 720px;
$link-color: #330000;

a {
  color: $link-color;

  &:hover {
    color: lighten($link-color, 25%);
  }
}

.container {
  @include container(1140px);
}

.sidebar-left {
  height: 80vh;
  background-color: rgba(0, 100, 100, 0.6);
  display: none;
  @include breakpoint($medium-screen) {
    @include span(2 of 16); // accounts for 2 columns out of 16
    display: block;
  }
}

.main {
  height: 80vh;
  @include breakpoint($medium-screen) {
    @include span(10 of 16);
  }

  .content {
    overflow: auto;
    height: 60vh;
    padding: 3 * gutter();
    background-color: rgba(100, 0, 0, 0.6);
    @include text-shadow(#aaa 0 1px 0);
    @include column-count(3);
    
    p {
      margin-top: 0;
    }
  }

  .teaser {
    background-color: rgba(100, 30, 100, 0.6);
    height: 16vh;
    padding: gutter(10);
    @include span(10 of 10);
    margin: 2vh 0;
    @include box-shadow(rgb(85, 25, 85) 0 0 5px);
    @include border-radius(6px);

    @include breakpoint($medium-screen) {
      @include span(2 of 10);
      &:nth-child(5n) {
        @include last;
      }
    }
  }
}

.sidebar-right {
  height: 80vh;
  background-color: rgba(100, 100, 30, 0.6);
  clear: both;

  @include breakpoint($medium-screen) {
    clear: none;
    @include span(4 of 16 last);
  }
}

.footer {
  height: 20vh;
  background-color: rgba(0, 30 ,100, 0.6);
  clear: both;
}